#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em hsl(180, 100%, 50%));
}

.card {
  padding: 2em;
  border-radius: 0.75rem;
  border: 1px solid hsl(200 40% 18%);
  background: hsl(196 45% 12%);
}

